:root{
    --Blue-120:#1C337F;
    --Blue-130:#132255;
    --white-color:#fff;
    --Blue-100:#2F55D4;
    --Blue-110: #2644AA;
    --Blue-5:#F4F6FD;
    --Blue-80:#5977DD;
    --Blue-60:#8299E5;
    --Blue-40:#ACBBEE;
    --Blue-20:#D5DDF6;
    --green-color:#22C55E;
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    
}
.mt-10{
    margin-top: 100px;
}

.title-section{
    color: var(--Blue-130);
text-align: right;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;
}

/*############################################################# NavBar ##################################################################### */


.link-a{
   color: var(--Blue-130);
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.active-link{
   color: var(--Blue-100);
}
.logo-mobile,.register-mobile{
    display: none;
}
.circle:active {
    background-color:var(--Blue-5); /* اللون عند الضغط */
}
.circle:active svg path {
    fill: var(--Blue-120);
}

.circle svg path{ 
    fill: var(--Blue-5);
    transition: 0.3s ease;
}
.hov-circle:hover svg path{
    fill: var(--Blue-120);
}
.hov-circle:hover{
    background-color:var(--Blue-5); /* اللون عند الضغط */
}

.circle{
    border-radius: 50%;
    background: var(--Blue-110);
    display: flex;
width: 40px;
padding: 10px;
justify-content: space-between;
align-items: center;
cursor: pointer;
transition: 0.3s ease;
}
.btn-register{
    padding: 20px 40px;
    border-radius: 32px;
    border: 2px solid var(--Blue-120);
    color: var(--Blue-130);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;

}
.btn-register:hover{
color: var(--white-color);
background-color:var(--Blue-120) ;
}

/*############################################################# End NavBar ##################################################################### */



/*#############################################################  Landing ##################################################################### */
.landing-image{
    display: block;
}
.landing-info h1{
    color: var(--Blue-130);
    text-align: right;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 167.2%; /* 63.536px */
}
.landing-info h1 span{
    color: var(--green-color);
}

.landing-info p{
    color: var(--Blue-130);
text-align: right;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.landing-image{
    position: relative;
    display: inline-block;

}
.landing-image img{
    width: 573px;
    height: 557px;
}
.landing-image-mobile{
    display: none;
}
.loading{
    position: absolute;
    top: 100px;
    left: -20px;

    width: 230px;
height: 69px;
    border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(194, 194, 194, 0.01);
box-shadow: 4px 4px 13px 1px rgba(0, 4, 245, 0.05);
backdrop-filter: blur(15.5px);
}
.loading-info h1{
    color: var(--Blue-130);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ready{
    position: absolute;
    bottom: 120px;
    right: 0;
    border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(194, 194, 194, 0.01);
box-shadow: 4px 4px 13px 1px rgba(0, 4, 245, 0.05);
backdrop-filter: blur(15.5px);
width: 230px;
height: 69px;

}
.ready i{
    font-size: 12px;
    color: var(--green-color);
}
.ready-info h1{
    color: var(--Blue-130);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.ready-info p{
    color: #8D8D8D;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.loading {
    animation: moveUpDown 2s infinite alternate;
}

.ready {
    animation: moveLeftRight  2s infinite alternate;
}


.btn-label-one{
background: var(--Blue-130);
height: 64px;
padding: 20px 40px;
border: none;
gap: 10px;
border-radius: 32px;
color: var(--white-color);
font-size: 20px;
font-weight: 700;
transition: 0.4s ease;


}
.btn-label-one:hover,.btn-label-two:hover{
    background-color: var(--Blue-120);
    color: var(--white-color);
}
.btn-label-one:active,.btn-label-two:active{
    background-color: var(--Blue-80);
    color: var(--white-color);
    
}
.btn-label-two:active{
    border: 2px solid var(--Blue-80);
}
.btn-label-two{
    color: var(--Blue-130);
    border: 2px solid var(--Blue-120);
height: 64px;
padding: 20px 40px;
gap: 10px;
border-radius: 32px;
background-color: var(--white-color);
transition: 0.4s ease;

font-size: 20px;
font-weight: 700;
}
.btns-label{
    margin-top: 100px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(100px);
    }
}
/*############################################################# End Landing ##################################################################### */




/*#############################################################  Categories ##################################################################### */


.card-category{
    display: flex;
    margin-bottom: 20px; /* مساحة بين كل بطاقة والأخرى */
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;

gap: 10px;
height: 134px;
width: 100%;
cursor: pointer;

border-radius: 12px;
background: radial-gradient(611.19% 186.36% at 112.91% -23.88%, rgba(2, 63, 255, 0.08) 0%, rgba(236, 240, 255, 0.7) 50%, rgba(47, 85, 212, 0.27) 100%);


backdrop-filter: blur(54.150001525878906px);
overflow: hidden;
transition: 0.04s ease;
}

.card-category:before{
    content: '';
    position: absolute;
    transform: rotate(45deg);
   left: 0;
   top: 0;
    z-index: 0;
    transition: 0.04s ease;
    background: radial-gradient( rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
  width: 100%;
  height: 100px;

}
.card-category:hover:before{
    content: '';
    position: absolute;
    transform: rotate(45deg);
   left: 70px;
   top: 0;
    z-index: 0;
    
    background: radial-gradient( rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 70%);
  width: 150%;
  height: 100px;

}
.card-category:after{
    content: '';
    position: absolute;
    transform: rotate(45deg);
   right: 0;
   bottom:  0;
    z-index: 0;
    transition: 0.04s ease;
    background: radial-gradient( rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
  width: 100%;
  height: 100px;

}
.card-category:hover:after{
    content: '';
    position: absolute;
    transform: rotate(45deg);
   right: 30px;
   bottom:  0;
    z-index: 0;
    
    background: radial-gradient( rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 70%);
    width: 150%;
  height: 100px;

}
.card-category:hover svg{
    scale: 1.05;
}
.card-category:hover h2{
    padding-top: 2px;
}
.card-category svg{
    z-index: 1;
}
.card-category h2{
    z-index: 1;
    
    color: var(--Blue-130);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: 0.15s;
}

.card-category svg{
    transition: 0.15s;
}
















/*############################################################# End Categories ##################################################################### */











/*#############################################################  Slider ##################################################################### */
.center {
    
    overflow: hidden; /* للتأكد من عدم وجود انحراف في المحتوى */
}

.product-slider{
   
}
.slick-slide{
   
    height: auto;
}
.slick-track {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .slick-slide {
    width: auto !important;
    overflow: hidden;
  }
  
.card-slider {
    
    
    padding: 20px;
    border-radius: 24px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    border-radius: 24px;
    background-color: var(--Blue-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 15px; /* إضافة مسافة بين البطاقات */
    transition: 0.3s ease;
  }
  
  .card-slider:hover{
    background-color: var(--Blue-20);
    padding: 17px 17px;
    transform: scaleX(1.05); 
 
  }
    
  .card-slider img {
   border-radius: 20px;
height: auto;
max-width: 100%;
margin: auto;

      
  }
  .card-slider h3 {
    overflow: hidden;
    color: var(--Blue-130, #132255);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .product-name{
    margin-bottom: 0;
  }
  
  
  .card-slider  .old-price {
    overflow: hidden;
    color: #C90032;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through; /* إضافة خط في وسط النص */
    text-decoration-color: #C90032; /* تحديد لون الخط ليكون بنفس لون النص */
    text-decoration-skip-ink: none; /* تأكد من أن الخط يمر عبر الأحرف */
    
    
  }
  .card-slider .new-price {
    overflow: hidden;
    color: #22C55E;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .card-slider  .rating span {
    color: var(--Blue-130);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .card-slider .store-name {
    color: var(--Blue-120, #1C337F);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  
.sales-text{
    color: var(--Blue-130);
text-align: right;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 2px;
}


.meta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}












/*############################################################# End Slider ##################################################################### */










/*############################################################# Products ##################################################################### */
.products-infos h1{
color: var(--Blue-130);
text-align: right;
font-size: 38px;
font-weight: 700;
line-height: 167.2%; /* 63.536px */
}
.products-infos p{
    color: var(--Blue-130);
text-align: right;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.slider-ver {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    
    margin: 0;
    background-color: white;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);

    
    
    
}

.vertical-slider {
    width: 100%; /* يمكنك تعديل العرض */
    height: 607px; /* يمكنك تعديل الارتفاع */
    overflow: hidden;
    position: relative;
    display: flex;
    
}

.slide-track {
    display: flex;
    flex-direction: column;
    height: calc(200% + 900px); /* ضع الارتفاع ليكون ضعف ارتفاع المحتوى + ارتفاع العنصر نفسه */
    animation: scroll 15s linear infinite alternate;
    
}
.slide-track2 {
    display: flex;
    flex-direction: column;
    height: calc(200% + 900px); /* ضع الارتفاع ليكون ضعف ارتفاع المحتوى + ارتفاع العنصر نفسه */
    animation: scrolldown 15s linear infinite alternate;
    
}
.slide-track3 {
    display: flex;
    flex-direction: column;
    height: calc(200% + 900px); /* ضع الارتفاع ليكون ضعف ارتفاع المحتوى + ارتفاع العنصر نفسه */
    animation: scroll 15s linear infinite alternate;
    
}

.slide {
    width: 100%;
    height: 50%; /* نصف الارتفاع ليظهر اثنين من البطاقات */
    margin-bottom: 50px; /* المسافة السفلية بين كل صورة والأخرى */
}
.btn-label-containe {
    display: flex;
    justify-content: end;
}
.btns-label-product{
    display: none;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-75%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes scrolldown {
    100% {
        transform: translateY(-75%);
    }
    50% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(-75%);
    }
}

/*############################################################# End Products ##################################################################### */






/*#############################################################  Footer ##################################################################### */

.logo-footer-mobile{
    display: none;
}
.logo-footer{
    display: block;
}
.section-footer{
    background-color: var(--Blue-5);
    min-height: 166px;
}
.ul-footer li a{
color: var(--Blue-130);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.who-as{
    display: inline;
}
.footer-info{
    flex-direction: column;
    gap: 5px;
}
.ul-footer-social{
    justify-content: space-between;
    gap: 40px;
}



/*############################################################# End Footer ##################################################################### */






/*############################################################# Responsive Media Queries  ##################################################################### */
@media (max-width: 1200px) {
    .landing-info h1{
    font-size: 34px;
    line-height: 150.2%; /* 63.536px */
    }
    .landing-image img{
        width: 500px;
        height: 470px;


    }
    .products{
        flex-direction: column-reverse;
    }


}
@media (max-width: 992px) {
    .landing{
        flex-direction: column-reverse;
    }
    .btns-label{
        margin-top: 20px;
    }
    .slick-slide{
        width: 250px !important;
         
     }
    
        
 
}
@media (max-width: 768px) {


    
        
 
}
@media (max-width: 576px) {
.logo{
    display: none;
}
.logo-mobile{
    display: block;
}
.register-mobile{
    display: block;
}
.register{
    display: none;
}
.landing-image-mobile{
    display: block;
}
.landing-image{
    display: none;
}
.landing{
    flex-direction: column-reverse;
}
.slide-track{
    display: none;
}
.btns-label-product{
    display: flex;
}
.btn-label-product{
    display: none;
}

.footer-info{
    flex-direction: row;
    gap: 0;

}

footer{
    flex-direction: column;
    
}
.ul-footer-social{
    justify-content: center;
    gap: 5px;
}
.who-as{
    display: none;
}
.ul-footer{
    justify-content: center;
}
.meta-container{
    display: none;
}
.store-name{
    display: none;
}
.prices{
    justify-content: space-between;
    width: 100%;
}
.slick-slide{
   
    height: auto;
}
.products-infos h1{
    font-size: 34px;
    text-align: center;
    }
    .ul-footer li a{

        font-size: 14px;

        
        }
        .logo-footer-mobile{
            display: block;
        }
        .logo-footer{
            display: none;
    }
    .title-section{

        color: var(--Blue-130);
        text-align: right;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .card-slider:hover{
        background-color: var(--Blue-20);
        padding: 20px 20px;
        transform: scaleX(1.0); 
      }
}
/*############################################################# End Responsive Media Queries  ##################################################################### */

